@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Cuprum', sans-serif;
  box-sizing: border-box;
}
